# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# misc 
.idea/
.ideas/
.DS_Store
__pycache__/

# testing folders
Docker-testing/
Docker/
Dockers/
Virgin_America_Airline/

# ignore data folder
data/
datas/